*{margin:0; padding:0};
.container{
    max-width:unset;
    padding:0;
    background: url(https://drive.google.com/uc?export=view&id=1vaJLf1UAm3XkZp-ki8Ndkn8ovB2yYTJU);
    background-attachment: fixed;
    background-position: 80% top;
    img{
        position:fixed;
        top:0
    }
}
#root{
    margin:auto;
    padding:2vw 5vw;
    color:#fff;
    h1{
        margin:2% 2% 1.5vw;
        text-align:center;
        font-size:30px;
    }
    .card{
        padding:1%;
        background:transparent;
        border:none;
        >div {
            padding:3% 5%;
            background:rgba(255,255,255,.3);
            height:100%
        }
    }
}